// Define variables for your color scheme

// For example:
$red: #db6162;
$blue: #2e57e5;
$yellow: #f0f3bd;
$orange: #e67e22;
$green: #00f0b5;
$navy: #080726;
$light-gray: #b6b6b6;
$very-light-gray: rgba(255, 255, 255, 0.1);
$white: #ffffff;
