<div class="container">
  <h1 class="fs-1"> Index Superheros</h1>

  <ul>
    <% @superheros.each do |superhero| %>
      <li>
            <%= link_to superhero_path(superhero) do %>
              <%= superhero.name %>
            <% end %>
      </li>
    <% end %>
  </ul>


</div>
