<div class="container">
  <h1 class="fs-1"> Index Superheros</h1>

  <ul class="d-flex list-group flex-row flex-wrap">
    <% @superheros.each do |superhero| %>
      <li class="list-group-item mt-3">
            <%= link_to superhero_path(superhero) do %>
              <%= superhero.name %>
            <% end %>
      </li>
    <% end %>
  </ul>


</div>
