.sh-card{
  background-color: $gray;
    box-shadow: 2px 4px 13px 0px rgba(46, 87, 229, 0.25);

}

.sh-card:hover .banner_superhero{
  opacity:0.8;
}

.sh-card a{
  text-decoration: none;
}

.card_superhero {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 1px;
}

.banner_superhero {
width: 100%
}

.logo_marvel {
  width: 50px;
    height: 50px;
    margin-left: 30px;
    position: absolute;
    top: -65px;
    left: 0px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
}

.info_superhero {
margin-top: 40px;
padding: 24px
}
.info_superhero h1 {
color: #DEDEDE;

font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 104.167% */
}

// h3 {
//   font-weight: 400;
//   text-align: center;
//   font-size: 18px;
//   margin-left: 10px;
// }

ul li{list-style: none;}
.row > * {padding:0;}


.sh-geoloc{
  color:$light-gray;
}
