.navbar-lewagon {
  justify-content: space-between;
  background-color: #161a23;
  position: fixed;
  border-right: solid $tertiary;
  border-radius: $border-radius;
  height: 100vh;
}

p {
  font-size: small;
  color: $secondary;
}
// .haut {
//   padding-bottom: 510px;
// }

.col-2 {
  padding-left: 0 !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin-top: 40px;
}

.navbar-lewagon .navbar-brand img {
  width: 170px;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-link {
  color: $secondary;
}
#sidebar-global {
  height: 100%;
}

.icone {
  height: 100%;
  display: flex;
  flex-direction: column;
}
